@{
    ViewBag.Title = "About ";
}
<div style="text-align: center;">
    <h1>Welcome to the InnStore!</h1>
    <h2>CSE201 C Final Project Team1</h2>
     </div>
<div style="text-align: center;">
    <p>
        This is a game app that you can display all games,<br>
        search specific game by game's name, show games by their genre,<br>
        and sort games. Hope you can enjoying.
    </p>
</div>