@{
    ViewBag.Title = "Contact";
}

<!--
    Description: Contact page and show team members and their Email Address.
    Author: Li Liu
    Date: 05/06/2019
    -->

<div style="text-align: center;">
    <h1>Welcome to the InnStore!</h1>
    <div>
        <table style="margin-left:300px;">
            <tr>
                <th>Team Member</th>
                <th>Email Address</th>
            </tr>
            <tr>
                <td>Mitchell Ferguson</td>
                <td>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=fergusmw@miamioh.edu">fergusmw@miamioh.edu</a>
                </td>
            </tr>
            <tr>
                <td>Cooper Brown</td>
                <td>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=browncw3@miamioh.edu">browncw3@miamioh.edu</a>
                </td>
            </tr>
            <tr>
                <td>Jack Julian</td>
                <td>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=julianj2@miamioh.edu">julianj2@miamioh.edu</a>
                </td>
            </tr>
            <tr>
                <td>Li Liu</td>
                <td>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=liul16@miamioh.edu">liul16@miamioh.edu</a>
                </td>
            </tr>
            <tr>
                <td>Xuhui Guo</td>
                <td>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=guox11@miamioh.edu">guox11@miamioh.edu</a>
                </td>
            </tr>


        </table>
    </div>
</div>