@{
	ViewBag.Title = "Home Page";
}

<head>
<style>
body {
	background-color: lightblue;
}
h1 {
	font-family: verdana;
	font-size: 40px;
	font-weight: bold;
	color: blue;
	text-align: left;
}
p {
	font-family: verdana;
	font-size: 24px;
}
.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: verdana;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

</style>
</head>

<body>
<div class="jumbotron">
	<h1>Innovation Tech</h1>
	<p class="lead">Welcome to the InnStore</p>
	<div class="row">
		<p><a href="~/Account/Login" class="button">Log in &raquo;</a></p>
		<p><a href="~/StoreFront.html" class="button">Go to Store  &raquo;</a></p>
	</div>
</div>
</body>
