@{
    ViewBag.Title = "Home Page";
}

<head>
<style>
body {
	background-color: lightblue;
}
h1 {
	color: blue;
	text-align: left;
}
p {
	font-family: verdana;
	font-size: 20px;
}
</style>
</head>

<body>
<div class="jumbotron">
    <h1>Innovation Tech</h1>
    <p class="lead">Welcome to the InnStore</p>
    <div class="row">
        <p><a href="~/Account/Login" class="btn btn-outline-primary btn-lg">Log in &raquo;</a></p>
		<p><a href="~/Home/StoreFront" class="btn btn-outline-secondary btn-lg">Go to Store  &raquo;</a></p>
    </div>
</div>
<div class="row">
</body>

</div>