@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Innovation Tech</h1>
    <p class="lead">Welcome to the InnStore</p>
    <div class="row">
        <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Log in &raquo;</a></p>
		<p><a href="~/Home/StoreFront" class="btn btn-primary btn-lg">Go to Store  &raquo;</a></p>
    </div>
</div>

<div class="row">

</div>