@{
    ViewBag.Title = "StoreFront";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
<style>

body {
	background-color: lightblue;
}
h1 {
	font-family: verdana;
	font-size: 40px;
	font-weight: bold;
	color: blue;
	text-align: left;
}
</style>
</head>

<h1>Applications</h1>

</body>



