USE [master]
GO
/****** Object:  Database [InnStore]    Script Date: 4/20/2019 9:25:17 PM ******/
CREATE DATABASE [InnStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InnStore', FILENAME = N'C:\Users\nowhe\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\InnStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InnStore_log', FILENAME = N'C:\Users\nowhe\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\InnStore.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InnStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InnStore]
GO
USE [InnStore]
GO
/****** Object:  Schema [MainSchema]    Script Date: 4/20/2019 9:25:17 PM ******/
CREATE SCHEMA [MainSchema]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 4/20/2019 9:25:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[gameID] [int] NOT NULL,
	[gameName] [varchar](50) NOT NULL,
	[gameDescription] [varchar](100) NOT NULL,
	[gameRating] [varchar](4) NOT NULL,
	[gamePrice] [float] NOT NULL,
	[featured] [int] NOT NULL,
 CONSTRAINT [PK_GAME] PRIMARY KEY CLUSTERED 
(
	[gameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Library]    Script Date: 4/20/2019 9:25:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Library](
	[userID] [int] NOT NULL,
	[gameID] [int] NOT NULL,
 CONSTRAINT [PK_LIBRARY] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[gameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/20/2019 9:25:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] NOT NULL,
	[username] [varchar](15) NOT NULL,
	[usersName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT ((0)) FOR [featured]
GO
ALTER TABLE [dbo].[Library]  WITH CHECK ADD  CONSTRAINT [Library_fk0] FOREIGN KEY([gameID])
REFERENCES [dbo].[Game] ([gameID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Library] CHECK CONSTRAINT [Library_fk0]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [User_fk0] FOREIGN KEY([userID])
REFERENCES [dbo].[Library] ([userID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [User_fk0]
GO
USE [master]
GO
